
html. body{width: 100%}


#apply{width: 400px; height: 300px; border-radius: 50px; display: none;
  position: fixed; left: 50%; top: 50%; border: solid 1px black; transform: translate(-50%, -50%); z-index: 999; background: white;}
#apply>.close{font-size: 1em; text-align: center; margin-top: 30px; cursor: pointer;}
#apply>p:nth-child(1){font-size: 1.5em; text-align: center; margin-top: 80px;} 
#apply>.apply2{font-size: 1.2em; text-align: center;}

#wrap{width: 100%; height: 100vh;background: rgba(153,204,255, 0.5);}

#dragUp{width: 400px; height: 300px; border-radius: 50px; 
  position: fixed; left: 50%; top: 50%; border: solid 1px black; transform: translate(-50%, -50%); z-index: 999; background: white;}

#dragUp>p:nth-child(1){font-size: 1.5em; text-align: center; margin-top: 80px;}  
.closeUp{font-size: 1em; text-align: center; margin-top: 30px; cursor: pointer;}


#put{width: 400px; height: 300px; border-radius: 50px; 
  position: fixed; left: 50%; top: 50%; border: solid 1px black; 
  transform: translate(-50%, -50%); z-index: 999; background: white; display: none;}

#put>p:nth-child(1){font-size: 1.5em; text-align: center; margin-top: 80px;}  
.put2{font-size: 1.2em; text-align: center;} 
#put>.close{font-size: 1em; text-align: center; margin-top: 30px; cursor: pointer;}



#selection{width: 300px; height: 89vh; background: white; border: solid 1px black; border-radius: 20px; position: absolute; left: 100%; top: 100%; transform: translate(-100%, -100%);}
#selection>div{width: calc(100% / 2 - 10px); float: left; border: solid 1px; height: 100px; margin-top: 20px; margin-left: 5px}
#selection>div>img{width: 100%; height: 100%}
#selection>p{text-align: center; line-height: 50px;}
#selection>.thumbnail{position: absolute; left: 50%; top: 65%; transform: translate(-50%, -65%);height: 230px; width: 90%; }
#selection>.thumbnail>img{cursor: crosshair;border: 5px solid #fff;}

#cs{display:none;}
.preview{position:absolute;top:5px;right:5px;display:block;margin:0;padding:0;width:50px;height:50px;border: 5px solid #FFF;
      border-right: none;border-top: none;}
.canvasBox{width: 1050px; height: 600px; position: absolute; top: 70%; transform: translateY(-70%); overflow:hidden;}
.canvasBox>canvas{position: absolute; display: none;} 
.canvasBox .dragImg{ position: absolute;  }

#dot{position: absolute; left: 20%; top: 85%; transform: translate(-20%, -85%);}
#btnDel{width: 100px !important;; height: 30px !important; position: absolute; left: 80%; top: 82.5%; 
	transform: translate(-80%, -82.5%); text-align: center; line-height: 30px; cursor: pointer;}

#theText{position: absolute; left: 50%; top: 90%; transform: translate(-50%, -90%); width:10em; border: 1px black solid}
#submit{position: absolute; left: 50%; top: 95%; transform: translate(-50%, -95%);}
.focus{display: block !important;}

/* footer-body */

.menu_wrap{position: fixed; left: 0; top: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.3); width: 100vw; height: 100%; z-index: 996; visibility: hidden;}
.slide_menu{width: calc(100% - 50%); height: 100%; position: fixed; background: white; z-index: 102; left: -50%; transition: 1s; z-index: 997}
.slide_menu>div{width: 100%; height: calc(100% / 7); position: relative; display: flex;  align-items: center; overflow: hidden;}
.slide_menu>div:nth-child(1) {height: 12%;}
.slide_menu>div>img{position: absolute; object-fit: cover; width: 100%; height: 100%;}
.slide_menu>div>div{position: absolute; width: 100%; height: 100%; background: rgba(255, 255, 255, 0.7); z-index: 102}
.slide_menu>div>h3{font-size: 23px; z-index: 103; position: absolute; left: 20%; transform: translateX(-20% );}
.slide_menu>div:nth-child(1)>div{width: 50px; height: 50px; position: absolute; left: 90%; transform: translateX(-90%);}
.slide_menu>div:nth-child(1)>div:after{content: ''; width: 35px; height: 2.5px; background: black; display: block; position: absolute; left: 15%; top: 50%; transform: translate(-15%, -50%); transform: rotate(45deg);}
.slide_menu>div:nth-child(1)>div:before{content: ''; width: 35px; height: 2.5px; background: black; display: block; position: absolute; left: 15%; top: 50%; transform: translate(-15%, -50%);  transform: rotate(-45deg);}

#btn{position: absolute; left: 10%; top: 95%; transform: translate(-10%, -95%); width: 130px; height: 40px; text-align: center; line-height: 40px}
#btn2{position: absolute; left: 20%; top: 95%; transform: translate(-20%, -95%); width: 130px; height: 40px; text-align: center; line-height: 40px}
#btn3{position: absolute; left: 30%; top: 95%; transform: translate(-30%, -95%); width: 130px; height: 40px; text-align: center; line-height: 40px}
button,
button::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

button {
  background: none;
  border: 3px solid #fff;
  border-radius: 5px;
  color: black;
  display: block;
  font-weight: bold;

  position: relative;
  text-transform: uppercase;
}

button::before,
button::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

button:hover {
  color: #2ecc71;
}
#btn::after {
  height: 0;
  left: 0;
  top: 0;
  width: 100%;
}

#btn:hover:after {
  height: 100%;
}

#btn2::after {
  height: 0;
  left: 0;
  top: 0;
  width: 100%;
}

#btn2:hover:after {
  height: 100%;
}

#btn3::after {
  height: 0;
  left: 0;
  top: 0;
  width: 100%;
}

#btn3:hover:after {
  height: 100%;
}

@media screen and (max-width: 1100px){
  #btn3{position: absolute; left: 30%; top: 95%; transform: translate(-30%, -95%); width: 100px; text-align: center; line-height: 40px}
	#btn2{position: absolute; left: 10%; top: 95%; transform: translate(-10%, -95%); width: 100px; text-align: center; line-height: 40px}
	#btn{position: absolute; left: 20%; top: 95%; transform: translate(-20%, -95%);width: 100px;  text-align: center; line-height: 40px}
}

@media screen and (max-width: 500px){

	.canvasBox{ width: 100%; height: 100vh;}
	.canvasBox>canvas{ left:-400px; }
	#selection{ width:40vw; height: auto; top:50%; transform: translate(-100%,-50%); }
	#selection .thumbnail{ width: 80%; height: auto; position: unset; transform: translate(0,0);  margin:0 auto; float:none;}
	#dot{ position: unset; transform: translate(0,0); margin:0 auto; float:none; display: block; margin: 10px auto; }
	#btn2{position: absolute; left: 50%; top: 95%; transform: translate(-50%, -95%); width: 90px;}
  #btn3{position: absolute; left: 80%; top: 95%; transform: translate(-80%, -95%); width: 90px;}
  #btn{width: 90px;}
}

@media screen and (max-width: 380px){
	.canvasBox{ width: 100%; height: 100vh;}
	.canvasBox>canvas{ left:-400px; }
	#selection{ width:40vw; height: auto; top:50%; transform: translate(-100%,-50%); }
	#selection .thumbnail{ width: 80%; height: auto; position: unset; transform: translate(0,0);  margin:0 auto; float:none;}
	#dot{ position: unset; transform: translate(0,0); margin:0 auto; float:none; display: block; margin: 10px auto; }
	#btn2{ width: 80px; height: 40px; text-align: center; line-height: 40px; font-size: 10px;position: absolute; left: 45%; top: 95%; transform: translate(-45%, -95%);}
	#btn{ width: 80px; height: 40px; text-align: center; line-height: 40px;font-size: 10px;position: absolute; left: 10%; top: 95%; transform: translate(-10%, -95%);}
  #btn3{ width: 80px; height: 40px; text-align: center; line-height: 40px; font-size: 10px;}
  #dragUp{width: 300px; height: 200px;}
  #apply{width: 300px; height: 200px;}
  #apply>p:nth-child(1){margin-top: 20px;}
  #put{width: 300px; height: 230px;}
  #put>p:nth-child(1){margin-top: 30px;}
  #dragUp>p:nth-child(1){ margin-top: 40px;}  
  .closeUp{font-size: 1em; text-align: center; margin-top: 30px; cursor: pointer;}
  
}